    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading"><a class="text-warning" href="/post/{{id}}">{{product_name}}</a></h2>
        <p class="lead">{{description}} </p>
        <hr>
        <p class="text-muted">{{format_date start_date}}</p>
      </div>
      <div class="col-md-5">
        <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="/images/{{filename}}" alt="{{description}}">

      </div>
    </div>

    <hr class="featurette-divider">