
              <div class="col">
                <div class="card shadow-sm">
                  <div style="height: 200px; overflow: hidden;">
                    <img class="bd-placeholder-img card-img-top img-responsive" src="/images/{{posts.[0].filename}}" alt="{{posts.[0].description}}">
                  </div>
                  <div class="card-body">
                    <p class="card-text fw-bold">{{posts.[0].category}}</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <a href="/section/{{id}}" type="button" class="btn btn-sm btn-warning">View</a>
                        {{!-- wishlist under construction --}}
                        {{!-- <a href="/" type="button" class="btn btn-sm btn-outline-warning">Save</a> --}}
                      </div>
                      <small class="text-muted">{{format_date posts.[0].listing_date}}</small>
                    </div>
                  </div>
                </div>
              </div>